myenv
../../.CFUserTextEncoding
   ../../.DS_Store
        ../../.anaconda/
        ../../.anydesk/
        ../../.bash_profile
        ../../.conda/
        ../../.condarc
        ../../.config/
        ../../.continuum/
        ../../.cups/
        ../../.gitconfig
        ../../.idlerc/
        ../../.ipynb_checkpoints/
        ../../.ipython/
        ../../.jupyter/
        ../../.lesshst
        ../../.local/
        ../../.matplotlib/
        ../../.npm/
        ../../.python_history
        ../../.swt/
        ../../.tcshrc
        ../../.viminfo
        ../../.vscode/
        ../../.xonshrc
        ../../.zprofile
        ../../.zsh_history
        ../../.zsh_sessions/
        ../../.zshrc
        ../../Applications/
        ../../CLD.csv
        ../../CLionProjects/
        ../../Desktop/
        ../../Documents/
        ../../Downloads/
        ../../IdeaProjects/
        ../../Library/
        ../../Movies/
        ../../Music/
        ../../Oracle/
        ../../Pictures/
        ../../Projects/
        ../../Public/
        ../.DS_Store
        .gitignore
        ../Assigment1/
        ../Chevron/
        ../Comp285FinalProject/
        ../Datastructures&Algo/
        ../GameHackathon/
        ../QuickProjects/
        ../comp285 Homework 2/
        ../pythonProject/
        ../pythonProject1/
        ../pythonProject2/
        ../../Untitled Folder/
        ../../Untitled.ipynb
        ../../anaconda3/
        ../../bt.pdf
        "../../print(\"hello\").py"
        ../../scikit_learn_data/
        ../../untitled.txt
